@{
    ViewBag.Title = "Create user";
}

<h2>Create user</h2>
<div id="formContainer"></div>
@section scripts
{
    <script type="text/javascript" src="~/Scripts/Users/form.js"></script>
    <script type="text/javascript">
        $('#formContainer').append(users_form_template({ isUpdate: false }));

        var contact = {
            FirstName: new ko.observable(''),
            LastName: new ko.observable(''),
            UserName: new ko.observable(''),
            Password: new ko.observable(''),
            save: function () {
                $.ajax({
                    url: '@Url.RouteUrl("DefaultApi", new { httproute = "", controller = "UsersApi", action = "Create" })',
                    type: "POST",
                    data: ko.toJSON(this),
                    dataType: "json",
                    contentType: "application/json; charset=utf-8",
                    success: function (data) {
                        window.location = '@Url.Action("Index", "Users")';
                    }
                });
            }
        };

            ko.applyBindings(contact);
    </script>
}