@model dynamic

@{
    ViewBag.Title = "Users";
}

<h2>Users</h2>
@Html.ActionLink("Create", "Create", "Users")
<div id="userscontainer">
    <ul></ul>
</div>
@section scripts
{
    <script>
        var editUrl = '@Url.Action("Update", "Users", new { id = string.Empty })/';
        $.getJSON('@Url.RouteUrl("DefaultApi", new { httproute = "", controller = "UsersApi", action = "GetUsers" })', function (users) {
            $(users).each(function (i, item) {
                $('#userscontainer').append('<li>' + item.FirstName + '-' + item.LastName + '| <a href="' + editUrl + item.Id + '">Edit</a></li>');
            });
        })
    </script>
}