@{
    ViewBag.Title = "Update user";
}
<h2>Update user</h2>
<form data-bind="submit: save">
    <input type="hidden" data-bind="value:Id" />
    <div>
        <label for="firstName">First name:</label>
        <input id="firstName" type="text" data-bind="value:FirstName" />
    </div>
    <div>
        <label for="lastName">Last name:</label>
        <input id="lastName" type="text" data-bind="value:LastName" />
    </div>
    <div>
        <label for="userName">Username:</label>
        <input id="userName" type="text" data-bind="value:UserName" />
    </div>
    <div>
        <button type="submit">Save</button>
    </div>
</form>
@section scripts
{
    <script type="text/javascript">
        var editUserUrl = '@Url.RouteUrl("DefaultApi", new { httproute = "", controller = "UsersApi", action = "GetUser", id = ViewContext.RouteData.Values["id"] })';
        var userData = $.getJSON(editUserUrl, function (data) {
            var contact = {
                Id: data.Id,
                FirstName: data.FirstName,
                LastName: data.LastName,
                UserName: data.UserName,
                save: function () {
                    $.ajax({
                        url: '@Url.RouteUrl("DefaultApi", new { httproute = "", controller = "UsersApi", action = "Update" })',
                        type: "POST",
                        data: ko.toJSON(this),
                        dataType: "json",
                        contentType: "application/json; charset=utf-8",
                        success: function (data) {
                            window.location = '@Url.Action("Index", "Users")';
                        }
                    });
                }
            };

            ko.applyBindings(contact);
        });
    </script>
}